/* Define o plano de fundo do cabeçalho */
.header-bg {
    background: url('data/LAYOUT_DER_001_paisagem_claro.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0; /* Movendo para baixo */
}

/* Ajuste dos textos do cabeçalho */
.header-title {
    text-align: center;
    margin-top: 20px; /* Movendo um pouco para baixo */
}

.header-title h1, .header-title h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Ajuste das logos */
.logo-sp {
    height: 110px;
    margin-left: -40px; /* Move para a esquerda */
}

.logo-der {
    height: 120px;
    margin-right: -40px; /* Move para a direita */
}

/* Layout das seções em caixas */
.section-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Ajuste do container dos gráficos */
.chart-container {
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
